/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/seminar -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]
}

/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Test config for seminar pipeline
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Seminar RNA-seq test profile'

    outdir         = 'results'
    input          = "${projectDir}/assets/samplesheet_seminar.csv"

    fasta          = '/bio/reference/SacCerR64/Saccharomyces_cerevisiae.R64-1-1.dna.toplevel.fa'
    gtf            = '/bio/reference/SacCerR64/Saccharomyces_cerevisiae.R64-1-1.115.gtf'
    transcriptome  = '/bio/reference/SacCerR64/Saccharomyces_cerevisiae.R64-1-1.cds.all.fa'
    star_index     = '/bio/reference/SacCerR64/star_index/'
    salmon_index   = '/bio/reference/SacCerR64/salmon_index'
}

process {
    withName: STAR_ALIGN {
        ext.args = '--readFilesCommand zcat'
        cpus = 2
        memory = 4.GB
        time = 4.h
    }

    withName: FASTQC {
        cpus = 1
        memory = 2.GB
        time = 2.h
    }

    withName: TRIMGALORE {
        cpus = 2
        memory = 4.GB
        time = 4.h
    }

    withName: SALMON_QUANT {
        cpus = 2
        memory = 4.GB
        time = 4.h
    }

    withName: MULTIQC {
        cpus = 1
        memory = 2.GB
        time = 2.h
    }
}